@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-roboto);
}
.font-inter {
  font-family: var(--font-inter);
}

@theme {
  --color-button: #1f293780;
  --color-button-border: #4b556380;
  --color-search-btn: #2563eb;
  --color-paragraph: #9ca3af;
}
